@use 'sass:map';

// Breakpoints
$breakpoints: (
  'xs': 576px,
  'sm': 768px,
  'md': 992px,
  'lg': 1200px,
  'xl': 1408px,
);

@mixin mq($breakpoint) {
  @media (min-width: map.get($breakpoints, $breakpoint)) {
    @content;
  }
}

@mixin container($breakpoint: 'md') {
  width: 92%;
  max-width: map.get($breakpoints, $breakpoint);
  margin: 0 auto;
}
