<header>
  <div class="header-content">
    <a href="/">hato810424's website</a>
  </div>
</header>

<style lang="scss">
  @use '../styles/breakpoints' as *;

  header {
    top: 0;
    left: 0;
    right: 0;
    position: sticky;
    z-index: 999;
    padding: 12px;
    background-color: color-mix(in srgb, var(--oc-indigo-1) 10%, transparent);
    backdrop-filter: blur(8px);
    color: var(--oc-black);
    border-bottom: 1px solid var(--oc-gray-3);

    .header-content {
      @include container('md');

      padding: 4px 0;
      a {
        text-decoration: none;
        color: var(--oc-black);
      }
    }
  }
</style>
